@import "tailwindcss";
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  min-height: 100vh;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 6rem;
}

/* Background styling */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/banner.png");
  height: 30rem;
  max-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  width: 40%;
  min-width: 20rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.main-content {
  display: flex;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}

.main-content .leftbar {
  max-width: 300px;
}

@media (max-width: 768px) {
  .main-content .leftbar {
    max-width: unset;
  }
  .main-content .leftbar .no-mobile {
    display: none;
  }
}

.main-content .leftbar .player-img-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

@media (max-width: 768px) {
  .main-content .leftbar .player-img-box {
    display: none;
  }
}

.main-content .leftbar .player-img-box img {
  max-width: 250px;
  width: 100%;
  height: auto;
}

td.divider {
  border: none;
  width: 100%;
}

.stats-container {
  background-color: white;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
}

@media (max-width: 992px) {
  .stats-container {
    margin: 0 !important;
    border-radius: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stats-table-container {
  overflow: auto;
}

.table > :not(caption) > * > * {
  padding: 0.45rem;
}

.stats-table {
  --bs-table-bg: none;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
